version: '3.8'

services:
  web:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - ./SessionFiles:/app/SessionFiles
      - ./webdata:/app/webdata
    env_file:
      #- .env
      #- venv/.env
      - sp_env/.env
    environment:
      - INSTAGRAM_SESSION_FILE=SessionFiles/instaloader_session
    restart: always

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - web

#  db:
#    image: postgres:13
#    environment:
#      POSTGRES_USER: user
#      POSTGRES_PASSWORD: password
#      POSTGRES_DB: social_pulse
#    volumes:
#      - postgres_data:/var/lib/postgresql/data

#volumes:
#  postgres_data:
